.contactsBlock {
    min-height: 70vh;
    background-color: #d7ffae;
}

.contactsContainer {
    min-height: 70vh;
    flex-direction: column;
}

.title{
    background-color: burlywood;
}

.contacts {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    width: 99%;
}

.textarea {
    width: 99%;
}