.projectsBlock {
    min-height: 100vh;
    background-color: rgba(230, 137, 102, .9);
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

@media screen and (max-width: 711px){
    .projects {
        justify-content: center;
    }
}

