.mainBlock {
    min-height: 100vh;
    background-color: #78bbbb;
}

.greeting {
    width: 350px;
    background-color: #F6EDD8;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #F6EDD8;
}

.name {
    text-shadow: 1px 2px #fcfaf7, 3px 4px #484a4d;
    font-family: "BazarMedium";
    text-transform: uppercase;
}