@font-face {
    font-family: 'Bazar';
    src: url('../common/fonts/Bazar.eot');
    src: local('☺'), url('../common/fonts/Bazar.woff') format('woff'), url('../common/fonts/Bazar.ttf') format('truetype'), url('../common/fonts/Bazar.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mainBlock {
    min-height: 100vh;
    background-color: rgba(120, 187, 187, .9);
}

.greeting {
    width: 350px;

}

.photo {
    width: 300px;
    height: 400px;
    background-color: #F6EDD8;
}

.name {
    font-family: 'Bazar', serif;
    text-transform: uppercase;
    color: #F6EDD8;
    font-size: 60px;
    margin: 0 0 0;
}