.footerBlock {
    min-height: 30vh;
    background-color: rgba(76, 80, 87, .9);
    padding: 20px 0;
}

.footerContainer {
    min-height: 30vh;
    flex-direction: column;
    width: 85%;
    border: 1px solid;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: burlywood;
}

.containerIcon {
    border: 1px solid;
    width: 40vh;
    display: flex;
    justify-content: space-between;
}

.icon {
    height: 50px;
    width: 50px;
    background-color: darkgray;
}

